table{
    border-collapse: collapse;
}

td,th{border-style:  solid;
    border-width: 2px;

}

td{ background-color: greenyellow;
    border-radius: 10px;
}

th{
border-top-style: none;    
background-color: rgb(117, 214, 146);

}

#celda_2_4{
    background-color: rgb(117, 214, 14);
}

.amarillo{
    background-color: gold;
    text-align: center;
}

.negrita{
    font-weight: bold;
}

.verde{
    background-color: green;
}